version : "3.9"

services :
  postgres :
    image : postgres:16
    container_name: local-postgres
    environment :
      POSTGRES_USER : superuser
      POSTGRES_PASSWORD : superpass
      POSTGRES_DB : bankdb
    ports :
      - "5432:5432"
    volumes :
      - "pgdata:/var/lib/postgresql/data"

  redis :
    image : redis:7
    container_name: local-redis
    ports :
      - "6379:6379"
    command : ["redis-server", "--appendonly" , "yes"]

volumes :
  pgdata :
#
#1. You run:
#  docker compose up -d
#
# Docker checks:
#
#  “Do I have postgres:16 locally?”
#
#If no, Docker automatically pulls it from:
#
#  https://hub.docker.com/_/postgres
#
#
#Same for Redis:
#
#  redis:7  →  https://hub.docker.com/_/redis
#    image is downloaded form
#    pgdata:/var/lib/postgresql/data
#    = “Mount a persistent volume called pgdata to the directory where Postgres stores its data files.”
#
# In the compose file, volumes control data persistence.
#    volumes:
#      pgdata:
#   This declares a named Docker volume called pgdata.= “Create that persistent volume.”
# # # ## ### ###
#volumes:
#  - pgdata:/var/lib/postgresql/data
#This means:
#
#Inside the container, PostgreSQL stores data at:
#/var/lib/postgresql/data
#
#You mount the named volume pgdata to that path.
#
#So Postgres reads/writes its data files to the volume instead of the container’s ephemeral filesystem.
# Why volume ?  : With a volume
#
#Data survives:
#
#  container restarts
#
#  container deletion
#
#  image upgrades